.parallax-container {
  height: 500px;
}

// Class for when toc is above threshold
.pin-top {
  position: relative;
}

// Class for when toc is below threshold
.pin-bottom {
  position: relative;
}

// Class for when toc is pinned
.pinned {
  position: fixed !important;
}

#information,
#pixabay,
#vids,
#rome2rio {
  padding: 20px 0px;
}

a {
  font-size: 18px;
  color: #009688;
}

a.small {
  font-weight: normal;
}

#search-input {
  padding: 40px 0px;
}

#pixabay {
  min-height: 500px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#parallax-1 {
  background-image: url("../images/blue-beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#parallax-2 {
  background-image: url("../images/ocean.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#parallax-3 {
  background-image: url("../images/wanderlust.jpg");
}


/*#main-content {
  background-opacity: 0;
  padding-top: 20px;
  padding-bottom: 0;
}
*/

#brand-logo {
  font-size: 100px;
  font-weight: normal;
}

p {
  color: #00695c;
  font-size: 16px;
}

h1 {
  z-index: 2;
}

.businessDiv {
  background-color: #eee;
}

.snippet,
.isClosed,
.address {
  font-size: 15px;
}

div.card-image {
  background: #bdbdbd;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.video-container {
  border-radius: 3%;
}

#location-input,
#origin,
#destination,
#autocomplete {
  font-size: 30px;
}

.progress {
  margin-top: 20px;
}

#rome2rio-input {
  float: left;
  display: inline;
}

#contents {
  /*  top: 510px;*/
  left: 10px;
  z-index: 2;
  float: left;
}

body {
  background-image: url("../images/sky.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 55px;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin-top: 0;
  z-index: 3;
}

#wellSection {
  /*border: solid 2px;*/
  /* border-radius: 10px;
*/
  /* width: 60%;*/
  /*  background-color: #e6ffe6;*/
}

#reset-form {
  margin-top: 10px;
}

.temp {
  /*font-size: 24px;*/
}

.yelpBusiness {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
  margin: 0;
  background-image: url("../images/travel-doubt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#map_canvas {
  width: 500px;
  height: 500px;
  float: left;
}

.weather-area {
  /* border-radius: 10px;
  /*border: solid 2px;*/
  /*width: 190px;
  background-image: url("../images/weather.jpg");
  background-repeat: no-repeat;*/
}

#weather-card {
  padding: 30px 70px;
  font-size: 18px;
}

.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

#reset-form {
  margin-top: 10px;
}

#parallax-3 {
  background-image: url("../images/wanderlust.jpg");
}


/*#snippet_searchpanel {
  float: right;
}
