.parallax-container {
  height: 500px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#parallax-1 {
  background-image: url("../images/bali.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#parallax-2 {
  background-image: url("../images/ocean.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#main-content,
#travel-options {
  background-opacity: 0;
  padding-top: 20px;
  padding-bottom: 0;
}

#brand-logo {
  font-size: 100px;
}

p {
  color: #00695c;
  font-size: 16px;
}

h1 {
  z-index: 2;
}

.businessDiv {
  background-color: #eee;
}

.snippet,
.isClosed {
  font-size: 14px;
}

div.card-image {
  background: #e0e0e0;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.video-container {
  border-radius: 3%;
}

#location-input,
#origin,
#destination {
  font-size: 30px;
}

.progress {
  margin-top: 20px;
}

#rome2rio-input {
  float: left;
  display: inline;
}

#contents {
  z-index: 0;
  top: 500px;
  left: 10px;
}

body {
  background-image: url("../images/sky.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 55px;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin-top: 0;
  z-index: 3;
}

div.footer-copyright {
  display: none;
}
