.parallax-container {
  height: 500px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#parallax-1 {
  background-image: url("../images/bali.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#parallax-2 {
  background-image: url("../images/ocean.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-image: url("../images/sky.jpeg");
  padding-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-content,
#travel-options {
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  color: #4db6ac;
  font-size: 16px;
}

.businessDiv {
  border-bottom: grey solid 2px;
  background-color: #b2dfdb;
}

#map-area {
  margin-top: 20px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
}

#vid-area {}

.video-container {
  border-radius: 3%;
}

#location-input,
#origin,
#destination {
  font-size: 30px;
}

.progress {
  margin-top: 20px;
}

#rome2rio-input {
  float: left;
  display: inline;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin-top: 0;
}

div.footer-copyright {
  display: none;
}
